@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'Fjalla';
	src: url("../fonts/Fjalla_One/FjallaOne-Regular.ttf");
	font-size: 1em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.header-container {
	width: 100%;
	text-align: right;
	position:relative;
    height: 40px;
    margin: 0 0;
    padding: 0 150px;
    background-color: rgba(0,0,0,0.5);
}
.header-container a{
	color: #fff;
	text-decoration: none;
}
.header-container a:hover {
	color: #666;
}
.header-container i {
	font-size: 30px;
	margin: 5px 10px;
}
header #mask {
		position: absolute;
		background-color: rgba(0,0,0,.1);
		width: 2000px;
	    height: 1900px;
	    top: -670px;
	    right: 893px;
	    z-index: -4;
	    transform: rotate(30deg);
}
.header-container ul {
	position:relative;
	list-style-type: none;
	color: #fff;
	font-family: OpenSans;
	font-size: 20px;
}
.header-container li {
	display: inline-block;
}
.header-container a {
	color: #fff;
	text-decoration: none;
}
.header-container a:hover {
	color: #666;
}
#background {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-image: url("../img/bg1.jpg");
	background-size: cover;
	z-index: -100;
}
#row-main {
	position: relative;
	height: 100;
	padding: 150px 0 300px;
}
.container {
	text-align: center;
    margin: 0 200px;
	padding: 0px 0px;
    max-width: 100%;
}
#row-main .container h1 {
	color:white;
	font-family: Fjalla;
	font-weight: lighter;
	font-size: 40px;
	margin: 0;
}
#row-main .container h2 {
	color:rgba(255,255,255,.4);
	font-family: Fjalla;
	font-weight: lighter;
	font-size: 20px;
	margin: 0;
}
#projects {
	margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    transition: 0.4s;
}
#projects .row {
	margin: 0 0;
	background: #fff;
    height: 100%;
}
#projects h1 {
	color: #000;
	font-family: Fjalla;
	font-size: 40px;
	margin: 0;
}
#projects h2 {
	color: #666;
	font-family: OpenSans;
	font-size: 15px;
	margin: 0;
}
#projects .row .container-logo {
	width: 40%;
	display: inline-block;

}
#projects .row .container-mobile {
	margin: 10px 50px 0;
	width: 11%;
	display: inline-block;

}
#projects .row .container-logo-jogos {
    text-align: center;
    margin: 15px;
}
#projects .row .container-description {
    text-align: left;
    padding: 0 0px;
    float: right;
    display: inline-block;
    width: 310px;
}
.separador {
	margin: 0 auto;
    background: url(../img/separador.png);
    height: 9px;
    width: 576px;
}
.portfolio-item {
	position: relative;
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
	padding: 45px 21px 66px;
}
.portfolio-item img {
	width: 100%;
}
 ul, ol, li {
 	padding: 0;
 	list-style: none;
 }
  .itemjogo {
  	position: relative;
  	display: inline-block;
}
#jogologo {
	width: 320px;
}
a {
	text-decoration: none;
	transition: 0.2s;
}
a {
	color: black;
}
a:hover {
	color: #0066ff;
}
.active {
    border-bottom: 4px solid #0066ff;
}

element.style {
}
.skills li {
	font-family: 'Opensans'; 
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    line-height: 32px;
    display: inline;
    border-radius: 4px;
    font-size: 12px;
    background: #0066ff;
    padding: 4px 9px;
}
.wrapper-footer {
	margin: 0;
	width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.hub {
	margin: 0 auto;
}
.hub a {
	color: #fff;
	text-decoration: none;
}
.hub a:hover {
	color: #666;
}
.hub i {
	font-size: 35px;
	margin: 10px;
}